.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--page-padding);
  background-color: var(--color-secondary);
  box-shadow: var(--drop-shadow-small);

  & nav {
    height: 100%;
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;

    & > ul {
      display: flex;
      align-items: center;
      gap: 3em;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}

.home-header {
  padding-top: var(--header-height);
  padding-bottom: 5em;
  margin-top: calc(-1 * var(--page-padding));
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  & > h1 {
    width: 100%;
    text-align: center;
    font-size: 5em;

    & > a {
      text-decoration: none;
    }
  }

  & > ul {
    width: 100%;
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    font-size: 1.3em;
  }
}

.icon {
  height: var(--header-height);
  aspect-ratio: 1;
  padding: 1em;
}
