<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="html(content)" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Test site</title>
        <link rel="icon" href="/assets/favicon.svg" type="image/svg+xml" />
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <script type="importmap">
            {
                "imports": {
                    "htmx.org": "/js/vendor/htmx.esm.min@2.0.8.js",
                    "htmx-ext-head-support": "/js/vendor/htmx-ext-head-support.esm.min@2.0.5.js",
                    "@stomp/stompjs": "/js/vendor/stomp.min@7.3.0.js"
                }
            }
        </script>
        <script type="module" src="/js/site.js"></script>
    </head>
    <body hx-boost="true" hx-ext="head-support">
        <th:block th:if="${hideHeader != true}">
            <header th:replace="~{components/header :: header}"></header>
        </th:block>

        <main role="main" th:class="'page-width' + (${hideHeader == true} ? ' no-top-margin' : '')">
            <div th:replace="${content}"></div>
        </main>

        <footer th:insert="~{components/footer :: footer}"></footer>
    </body>
</html>
