<!DOCTYPE html>
<html th:replace="~{layout :: html(~{::#content})}">
    <th:block id="content">
<h1>Static page 2</h1>
<p>
  Aenean rutrum metus ut diam sagittis, at varius ante luctus. Nunc vitae
  ligula quis tellus fermentum tempus. Ut dignissim mauris et risus laoreet
  ornare. Curabitur laoreet massa in placerat aliquam. Phasellus vestibulum
  tempor tellus, sit amet pharetra eros tincidunt non. Sed ut neque felis.
  Nulla sit amet lacinia ante. Fusce ut faucibus massa. Sed tempus vel dui
  sodales commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Sed ultrices egestas mi, vitae accumsan lorem posuere a.
</p>
<p>
  Fusce ipsum turpis, cursus sit amet nibh eget, auctor tempus diam. Cras
  mattis tellus id posuere iaculis. Donec massa justo, luctus vitae mauris
  egestas, maximus aliquet elit. Nulla mattis sit amet tellus tincidunt
  commodo. Etiam sed laoreet ipsum. Proin tincidunt nisi sit amet enim
  ultricies porttitor. Etiam accumsan, ipsum id consectetur volutpat, diam
  diam accumsan tortor, in gravida velit erat in libero. Nullam rhoncus urna
  in sem vehicula, a malesuada eros pretium. Cras sagittis erat eu venenatis
  placerat. Aliquam orci dolor, venenatis et aliquam eget, vehicula in ipsum.
  Cras consequat quam vitae ante pharetra mattis.
</p>
<p>
  Nulla dignissim ornare sem, a rutrum massa tincidunt vitae. Duis vitae sem
  et purus aliquam accumsan. Ut iaculis fringilla justo, ac consectetur tortor
  tristique nec. Sed sapien mauris, fermentum non scelerisque id, varius vitae
  nisi. Sed a eros ornare, rhoncus diam ornare, hendrerit tortor. Lorem ipsum
  dolor sit amet, consectetur adipiscing elit. Donec vitae accumsan ante, a
  eleifend felis. Sed ante nulla, tincidunt quis mi at, laoreet pharetra erat.
  Duis quis bibendum elit. Curabitur ac varius ligula, a sodales sapien.
  Praesent hendrerit est ultricies metus viverra, quis egestas libero rutrum.
  Quisque eget malesuada magna, et posuere felis.
</p>
<p>
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Cras ornare iaculis nunc, quis pulvinar diam feugiat et.
  Ut vestibulum dolor in augue feugiat vehicula. Vestibulum elementum risus at
  magna ullamcorper efficitur. Vivamus placerat, mauris id euismod tincidunt,
  lacus ipsum efficitur sapien, non suscipit dui lectus non tortor. Fusce
  semper, dolor at varius suscipit, arcu odio elementum arcu, vel aliquam ex
  ante sed metus. Nam ultrices ligula vitae sapien lacinia faucibus.
</p>
<p>
  Maecenas dignissim sollicitudin turpis id mattis. Cras mollis justo id risus
  scelerisque, id sagittis erat eleifend. Etiam laoreet dolor sit amet velit
  congue, in volutpat dui varius. Curabitur malesuada congue pharetra. Morbi
  consectetur sem ligula, fringilla volutpat eros feugiat id. Aenean ut
  pretium lectus. Morbi semper ante nec mauris eleifend, quis rutrum ipsum
  dictum. Sed tempus pharetra sapien, at pellentesque quam tincidunt at. Sed
  ultrices diam tortor, quis condimentum odio commodo a. Nam et pellentesque
  libero, lobortis hendrerit turpis. Pellentesque convallis, metus ac
  malesuada molestie, metus quam pretium turpis, sit amet blandit sapien est
  nec nunc. Morbi ut tellus dolor. Duis vel orci id turpis blandit ultricies
  sit amet bibendum dui. Cras porta venenatis arcu, et dictum diam blandit a.
  Nam leo tortor, suscipit sed pharetra at, gravida at ex.
</p>
<p>
  Vestibulum sit amet tortor eu enim interdum tempus id in orci. Interdum et
  malesuada fames ac ante ipsum primis in faucibus. Mauris lobortis, elit ac
  congue mattis, magna sem lacinia tortor, quis rutrum elit nisi eget erat.
  Phasellus aliquam, nulla non eleifend pellentesque, arcu est viverra ipsum,
  vel iaculis nulla mi eget lorem. Cras ligula massa, dignissim mattis finibus
  at, pharetra quis sem. Integer vel facilisis sem. Pellentesque volutpat est
  non aliquet eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nulla vitae arcu sit amet lectus consequat dignissim. Fusce luctus
  luctus lectus, eget porta dui eleifend a. Nulla sed ligula egestas ex
  porttitor porttitor hendrerit non ex. Nulla a gravida ante. In cursus turpis
  nec velit aliquet, sit amet hendrerit quam semper.
</p>
<p>
  Integer sit amet consequat sapien. Sed ultrices ante at erat vestibulum, sed
  feugiat diam venenatis. Donec faucibus, elit quis sagittis lobortis, justo
  ligula tincidunt lectus, vitae semper nunc lectus ut ligula. Maecenas
  interdum nisi pharetra, interdum ipsum a, finibus massa. Etiam ut
  ullamcorper libero, eget ultrices turpis. Duis suscipit aliquet orci eu
  elementum. Etiam fringilla enim in rutrum varius. Nunc non iaculis justo,
  vitae mollis ante.
</p>
<p>
  Curabitur tristique vehicula varius. Curabitur pulvinar ex non turpis
  interdum, non aliquet tellus eleifend. Integer vitae sollicitudin ligula.
  Pellentesque eleifend tellus in dui interdum volutpat. Proin quis malesuada
  purus. Fusce orci nunc, luctus non diam id, luctus commodo nisl. Aenean
  tincidunt aliquam ullamcorper. Morbi nec erat urna. Aliquam aliquet, nunc
  congue tempus porta, dolor velit commodo arcu, sit amet sollicitudin libero
  nunc quis lacus. Aliquam auctor sed lectus vel maximus.
</p>
<p>
  Nullam molestie nulla feugiat nisl suscipit, quis consectetur sapien semper.
  Donec in pulvinar sem. Donec dictum enim ipsum, et faucibus nisl lacinia
  quis. Sed leo orci, eleifend sit amet congue ac, pellentesque ac erat.
  Vivamus dolor risus, tincidunt sit amet tincidunt sit amet, eleifend sed
  orci. Vestibulum nunc lacus, pellentesque vel turpis ut, rhoncus finibus
  nisi. Fusce tincidunt diam quis velit commodo, a aliquam massa fermentum.
  Praesent eleifend interdum nulla, ut fermentum risus lacinia in.
  Pellentesque consectetur tempus tristique. Class aptent taciti sociosqu ad
  litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ut
  rhoncus velit, ut egestas risus. Nullam lectus ipsum, blandit tempus
  fringilla ut, lobortis a ante. Etiam nec congue ex. Praesent porta nisi et
  dolor gravida efficitur.
</p>
<p>
  Proin tempor massa sit amet pharetra suscipit. Sed aliquam dui vel sodales
  consequat. Proin varius purus et augue maximus, a ullamcorper tortor
  ultricies. Mauris porta diam semper, consectetur orci et, placerat tellus.
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. Mauris et metus egestas, ultrices sapien quis, pretium
  odio. Donec ac molestie enim, ac lobortis augue.
</p>
<p>
  Ut tincidunt purus velit, in pretium velit sagittis vitae. Sed pulvinar
  tincidunt est ut pulvinar. Integer convallis dui in neque sagittis tincidunt
  non gravida quam. Ut consequat risus vitae tellus congue rutrum. Morbi leo
  nunc, efficitur vitae varius et, maximus eu urna. Nulla facilisi. In vel
  lorem ornare, tincidunt nibh eget, varius purus. Praesent eros augue,
  aliquet eget tellus vel, gravida pellentesque purus. Phasellus pharetra arcu
  elit, at scelerisque purus vulputate tempus. Pellentesque tincidunt sodales
  est sollicitudin pretium. Sed non augue id dui ornare facilisis. Donec
  vehicula ultricies libero nec mattis. Sed dui libero, mattis eget feugiat
  vitae, elementum non elit. Donec tortor augue, mattis nec condimentum quis,
  vestibulum commodo leo.
</p>
<p>
  Praesent porttitor dapibus dui, ut dignissim lectus placerat et. Donec mi
  elit, tempus a vehicula sit amet, auctor ac justo. Etiam hendrerit porttitor
  mi, nec imperdiet velit bibendum sit amet. Nunc ut hendrerit augue, in
  aliquet ipsum. Morbi vel imperdiet ex. Praesent non ex eget nunc viverra
  rhoncus et eget enim. Sed commodo volutpat tempus. Nullam lectus dui,
  facilisis id augue vel, viverra cursus lacus. Donec feugiat dui non
  vestibulum tristique. Aliquam egestas nisl at urna tincidunt, ut commodo
  velit maximus.
</p>
<p>
  Donec accumsan dui at orci venenatis viverra. Ut in commodo magna, ultrices
  blandit odio. Praesent tincidunt non lorem ac pretium. Fusce non cursus
  nisl. Quisque eget rutrum metus, non auctor libero. Aliquam consequat nibh
  felis, quis molestie ante imperdiet pharetra. Pellentesque placerat rutrum
  dui. Fusce semper odio tincidunt urna interdum, non imperdiet dolor
  vehicula. Curabitur mollis mauris eget nibh aliquet tincidunt. Praesent
  sagittis libero massa, ut pellentesque arcu dictum sed. Praesent suscipit,
  nisi sit amet hendrerit fringilla, nisl elit commodo tortor, sit amet
  fermentum nisi erat a nisi. Vivamus eleifend elit justo. Nulla commodo
  rhoncus dui. Aliquam venenatis elit volutpat erat rhoncus laoreet.
</p>
<p>
  Nunc a aliquet sem. Quisque aliquam a ligula eget accumsan. Mauris arcu
  erat, condimentum sed ullamcorper nec, efficitur mattis diam. Proin
  efficitur diam ante, id iaculis turpis posuere ut. Morbi urna eros, blandit
  nec mi in, pulvinar euismod neque. Donec ut quam eget leo pellentesque
  varius. Duis iaculis ornare tellus ut facilisis. Cras finibus leo est, ut
  viverra erat dictum nec. Praesent sed erat ut erat aliquam pellentesque
  consectetur at tellus. Quisque fermentum, velit eu sagittis malesuada,
  turpis felis finibus lacus, in dapibus nisl enim ut ipsum. Pellentesque
  feugiat sapien id mi vulputate auctor. Etiam eget justo lorem. Suspendisse
  id tempor augue. Quisque tortor nisl, vehicula sit amet enim vehicula,
  volutpat fermentum mi. Duis congue, ipsum eget suscipit tempus, est lacus
  gravida mi, vitae aliquam velit ipsum nec purus. Vestibulum facilisis
  rhoncus maximus.
</p>
<p>
  Sed sagittis imperdiet purus, eget vulputate ante efficitur vel. Mauris elit
  libero, vestibulum id nulla at, commodo suscipit mauris. Nulla sed nunc sit
  amet elit varius laoreet aliquet a sem. Mauris urna erat, condimentum sed
  mauris quis, convallis facilisis quam. Nam porttitor nulla a justo
  scelerisque, et eleifend elit aliquam. Ut non turpis massa. Curabitur
  ultrices rutrum metus, vitae rhoncus elit laoreet eget. Etiam id urna odio.
</p>
<p>
  Nam ex massa, blandit nec viverra in, auctor in purus. Sed nec dignissim
  augue. Cras sed luctus sapien, sed lacinia nibh. Suspendisse sollicitudin
  accumsan risus, iaculis commodo libero bibendum eget. In pretium quam sit
  amet ipsum lacinia finibus. Nullam sit amet velit tincidunt, gravida nulla
  eget, ultrices tellus. Vestibulum tempor tortor tortor, nec sodales elit
  lobortis at. Nam varius, dui sed condimentum consectetur, velit enim
  ullamcorper sem, non cursus magna velit ut magna. Pellentesque venenatis
  maximus lacus id pellentesque. Quisque tincidunt ac magna non laoreet. Duis
  bibendum condimentum porta. Aliquam rutrum tristique ligula, at placerat
  nisi laoreet vel. Integer id lectus et dui auctor laoreet. Donec facilisis
  at neque a scelerisque.
</p>
<p>
  Donec feugiat feugiat orci nec hendrerit. Curabitur in libero nec nisl
  venenatis finibus. Quisque euismod arcu sit amet lorem mattis, id ultricies
  libero aliquam. Etiam in metus sit amet nisi sagittis varius. Fusce libero
  massa, cursus sed eros vitae, consectetur dignissim quam. Proin vel risus
  convallis, laoreet nulla sed, tristique nisi. Vivamus rutrum ipsum libero,
  quis tincidunt tortor aliquet vel. Vivamus vehicula ipsum ac suscipit
  efficitur.
</p>
<p>
  Morbi ullamcorper blandit nulla et iaculis. Maecenas ornare felis ut augue
  posuere, quis pulvinar massa congue. Curabitur nulla ipsum, aliquet a ipsum
  id, rhoncus consectetur turpis. Nullam vitae diam arcu. Suspendisse feugiat
  scelerisque sagittis. Nunc id tortor vulputate magna fringilla malesuada id
  et justo. Etiam libero mi, pellentesque at gravida sit amet, rutrum vel
  purus. Sed mauris dui, volutpat et leo id, condimentum rhoncus nulla.
  Maecenas maximus egestas tellus. Maecenas hendrerit turpis in enim
  fringilla, sit amet ornare lorem luctus. Nam lacinia leo et porta auctor.
  Vestibulum quis turpis ante. Ut elementum felis ut egestas vulputate. Donec
  bibendum elementum sodales.
</p>
<p>
  Cras id vestibulum risus, at gravida augue. Etiam sed diam aliquam,
  malesuada sapien sit amet, tempor turpis. Nullam at pharetra risus. Ut porta
  diam sodales urna posuere sagittis. Nulla tincidunt diam nec sapien
  interdum, in gravida ligula fringilla. Nunc condimentum, lacus et ultrices
  cursus, neque ipsum fringilla eros, suscipit bibendum libero turpis eget
  est. Morbi elementum pretium porttitor.
</p>
<p>
  Morbi a augue non mi tincidunt gravida quis vitae mauris. Sed commodo dolor
  est, maximus tempor metus auctor non. Sed ut mauris sit amet leo condimentum
  sagittis. Proin ullamcorper mattis nibh sed facilisis. Duis vel est vel diam
  volutpat rutrum non quis augue. Nullam vel euismod neque, quis eleifend
  metus. Cras quam massa, commodo eget felis non, ultrices aliquet dolor.
  Donec auctor lectus nunc, sit amet tempor risus varius in. Aenean at
  consequat libero, pharetra volutpat metus. Nulla condimentum pharetra erat,
  vitae pulvinar quam. Nunc semper dictum tortor, ac sollicitudin leo posuere
  nec. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
  inceptos himenaeos. In eu odio magna. Curabitur tincidunt sagittis erat.
  Vestibulum non velit in orci gravida lobortis non eget magna.
</p>
</th:block>
</html>